html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

*{
  box-sizing:border-box;
}

.top-wrapper{
    padding: 180px 0 100px 0;
    background-image:url("lion.png");
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    background-size: cover;
    text-align: center;
    color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.top-wrapper h1{
    opacity: 0.9;
    font-size: 45px;
    font-weight: bold;
    letter-spacing:15px;
}

.top-wrapper p{
    opacity: 0.9;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 250px;
}

header{
    height: 65px;
    width: 100%;
    background-color: rgba(34,49,52,0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo{
    width: 40px;
    height: 50px;
    margin: 5px 5px;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a{
    display: block;
    line-height: 65px;
    padding: 0 25px;
    color: white;
}


.mission-wrapper{
    height: 580px;
    background-color:tan;
    text-align: center;
}



.heading{
    padding-top: 80px;
    padding-bottom: 50px;
    color:rgba(34,49,52,0.9)
}

.heading h2{
    font-weight: bold;
    font-size:40px;
    letter-spacing: 10px;
}

.heading p{
    font-weight:bold;
    margin-top:30px;
    opacity:0.8;
    letter-spacing: 10px;
}

.btn{
    color: white;
    opacity: 0.8;
    display:inline-block;
    border-radius:4px;
    padding:15px 60px;
    background-color:chocolate;
    box-shadow:7px 7px  rgba(34,49,52,0.9);
    cursor:pointer;
    margin: 30px 80px;
  }

  .message {
    display: inline-block;
    transition: all 1s;
    display:inline-block;
    }
    
    .message:hover {
    color:black;
    transform: rotateX(360deg);
    }

  .btn:active{
    position:relative;
    top:7px;
    box-shadow:none;
  }
  
  footer{
    border-top:1px solid #eee;
    padding:10px 0;
  }
  
  footer img{
    width:124px;
  }
  
  footer p{
    color:#1a7940;
    font-size:12px;
    float:right;
  }

  .ball{
    position: absolute;
    top:1050px;
    left:450px;
    width:30px;
    height:30px;
    background-color:black;
    border-radius:30px;
    animation:right 2s .3s ease-out infinite alternate;
  }

  @keyframes right{
    0%{
      transform:translateX(0);
    }
    100%{
      transform:translateX(400px);
    }
  }

  .bat{
    position: absolute;
    top:950px;
    left:180px;
    width:300px;
    height:350px;
  }

@media (max-width: 768px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }
  
  .btn{
    width:100%;
    padding:15px 60px;
    box-shadow:7px 7px  rgba(34,49,52,0.9);
    margin: 0;
  }
  
  .top-wrapper{
    padding: 100px 0 80px 0;
    background-image:url("lion.png");
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    background-size: cover;
    text-align: center;
    color: white;
  }
  
  .bat{
    display:none;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
    letter-spacing:4px;
  }
  
  .ball{
    display:none;
  }  
  
  footer img{
    display:none;
  }
}
